extends ../includes/header.pug
block styles
    link(ref="stylesheet", href="/css/form.css")
    link(ref="stylesheet", href="/css/product.css")
block contents
    include ../includes/navigation.pug
    